:root {
  --sidebar-text-color: white;
  --sidebar-font-size: 1.1rem;
  --sidebar-font-weight: 600;
  --sidebar-elements-margin: 0.2rem;
  --sidebar-hover-bg-color: rgba(61, 77, 119, 0.82);
  --sidebar-letter-spacing: 0.06rem;
  --sidebar-line-height: 0.08rem;
}

.sidebar-container {
  width: 0;
  opacity: 0;
  visibility: hidden;
  background-color: var(--nav-background-color);
  border-right: 0.05rem solid #ffffff;
  padding-top: 1.5rem;
  color: var(--sidebar-text-color);
  font-size: var(--sidebar-font-size);
  font-weight: var(--sidebar-font-weight);
  transform: translateX(-30%);
  transition: width 0.2s ease-in-out, transform 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.sidebar-container.open {
  visibility: visible;
  opacity: 1;
  max-width: 400px;
  width: 300px;
  transform: translateX(0);
  transition: width 0.2s ease-out, transform 0.3s;
}

.sidebar-menu-content {
  border: none;
  max-height: 0;
  visibility: hidden;
  /*transition: max-height 0.05s, transform 0.4s, opacity 0.2s;*/
  transition: max-height 0.05s, transform 0.4s, opacity 0.2s;
  transform: translateY(-2px);
}

.sidebar-menu-content.open {
  visibility: visible;
  /*max-height: 200rem;*/
  max-height: fit-content;
  width: 100%;
  transform: translateY(0);
}

.sidebar-dropdown-button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}


.sidebar-dropdown-icon {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  transform: rotate(0);
  transition: 0.2s;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
}

.sidebar-dropdown-icon.open {
  transform: rotate(180deg);
}

.sidebar-divider {
  width: 100%;
  height: 1px;
  background-color: #8f8f8f;
  margin: 0.5rem 0;
}

.sidebar-element-wrapper-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 0.16rem 0;
  color: var(--sidebar-text-color);
  font-size: var(--sidebar-font-size);
  font-weight: var(--sidebar-font-weight);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-element-wrapper-new.icon {
  display: flex;
  flex: 0 0 2rem;
  margin-left: 0.8rem;
}

.sidebar-element-wrapper-new.text {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: var(--sidebar-font-weight);
}

.sidebar-element-wrapper-new a {
  text-decoration: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-element-wrapper-new a:hover {
  background-color: var(--sidebar-hover-bg-color);
}

