# The port that express/"web server" will use to recieve inbound connections.
PORT=
# A string used to sign cookies. This needs
SESSION_SECRET=
# The discord app token the server will use to connect to
DISCORD_APP_TOKEN=
# The discord guild ID of the server that this bot will be situated in.
DISCORD_GUILD_ID=
# The public key of discord OAuth process. Generate this in the discord developer portal.
DISCORD_OAUTH_CLIENT_PUBLIC=
# The secret key of the discord OAuth process. Generate this in the discord developer portal
DISCORD_OAUTH_CLIENT_SECRET=
# The link used to redirect from discord OAuth2 back to this server.
DISCORD_OUATH_REDIRECT_URL=
# Whether the server should log updates to whitelists to a discord channel
DISCORD_LOGGING_ENABLED=
# The channel ID of the channel that the server will put updates to whitelists in.
DISCORD_LOGGING_CHANNEL=
# The string used by the mongoose module to connect to a Mongo database.
# Must include user+password if your DB has that enabled.
MONGO_DB_CONNECTION_STRING=mongodb://127.0.0.1:27017/whitelist-management
# The time that a user's session will last, i.e the amount of time they can stay logged in before they have to authenticate again.
COOKIE_MAX_AGE_HOURS=1
# Used on the frontend.
ORGANIZATION_NAME=
#
DEBUG=
#
NODE_ENV=testing
# These are discord roles IDs, where any user that authenticates and has the role, will be able to perform admin/root actions on the server.
DISCORD_ROLES_AUTHORIZED_FOR_ADMIN=[]
#
LOGGING_LEVEL=info