.options-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  padding: 4px;
  text-align: left;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.options-menu-wrapper {
  position: relative;
  display: flex;
  width: fit-content;
  max-width: 100%;
}

.options-menu-content {
  visibility: hidden;
  min-width: 5rem;
  margin: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #434b5a;
  color: #dddddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.2rem 0;
  list-style: none;
  transition: visibility 0s, max-height 0.2s ease;
  white-space: nowrap;
}


.options-menu-content.open {
  visibility: visible;
  z-index: 500000;
}

.options-menu-divider {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #9f9f9f;
  margin: 0.2rem 0;
}

.options-menu-item {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  /*background: transparent;*/
  border: none;
}

.options-menu-item div:hover {
  color: #ffffff;
  filter: brightness(120%);
}

.options-menu-item:hover {
  color: white;
}

.options-menu-item li {

}

